.video {
  width: 100%;
}
.characters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  p {
    display: flex;
    flex-wrap: nowrap;
    
  }
}
