.folder {
  width: 100vw;
  height: 100vh;

  position: absolute;
  left: 0;
  top: 0;

  background-image: url(../../assets/image/pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.grid {
  a {
    text-decoration: none;
  }
  p {
    font-size: 18px;
  }
}
