.folder {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  border: 5px solid black;
}

.grid {
  a {
    text-decoration: none;
  }
  p {
    font-size: 18px;
  }
}
